<%= link_to "Back to Pictures", pictures_path %>| <%= link_to "Edit this Picture", edit_picture_path(@picture) %>
<h3><%= @picture.title %></h3>
<p><%= @picture.artist %></p>
<img src="<%= @picture.url %>" alt="<%= @picture.title %>">
